.logo-img{
    width: 5%;
}
.hero-img{
    background-image: url(./images/doctor.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100% !important;
}

.line{
  background-color: black;
  height: 2px;
  margin-top: 12px !important;
  
}
.g-img{
  width: 7%;
}

label {
  position:relative;
  /* top: 0.2ex; */
  top: 1em;
  z-index: 1;
  left: 2em;
  border:  1px solid #fff;
  background-color: white;
  padding: 0 5px;
  font-weight: 600;
}
.g-signin2{
  margin-left: 40%;
  width: ;
}